<div class="drawerlayout" ng-class="{'drawer-active': active}">
    <div id="lxpp-toolbar">
        <div class="toolbar z4" ng-class="toolbarBgc">
            <div class="toolbar__left">
                <lx-button class="toogle-button mr" lx-size="l" lx-color="{{toolbarThemeObj.color}}" lx-type="icon" ng-click="active = !active;">
                    <i class="mdi mdi-menu"></i>
                </lx-button>
            </div>
            <span class="ml toolbar__label fs-title {{toolbarThemeObj.textColor}}">Lorem Ipsum</span>
        </div>
    </div>
    <div id="lxpp-navigator" ng-click="active = (drawerType === 'temporary') ? !active : active;">
        <div overflow="auto" lx-scroll>
            <div id="navigator-toolbar" class="toolbar bgc-white">
                <span class="toolbar__label fs-title tc-white"></span>
                <div class="toolbar__right">
                    <lx-button class="toogle-button" lx-size="l" lx-color="grey" lx-type="icon" ng-click="active = !active;">
                        <i class="mdi mdi-chevron-left"></i>
                    </lx-button>
                </div>
            </div>
            <lx-drawer-navigator menus="navigatorMenus"></lx-drawer-navigator>
        </div>
    </div>
    <div id="lxpp-content">
        <div overflow="scroll" lx-scroll ng-transclude></div>
    </div>
</div>