<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Lumx PP</title>

    <link rel="shortcut icon" type="image/png" href="/favicon.png">

    <link rel="stylesheet" href="./bower_components/lumx/dist/lumx.css">
    <link rel="stylesheet" href="./dist/css/lxpp.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
</head>

<body>
    <lx-drawer-layout drawer-type="{{vm.selected}}" 
        toolbar-bgc="bgc-blue-500"
        toolbar-theme="dark"
        toolbar-title="Lumx PP"
        toolbar-menu="vm.toolbarMenu"
        
        navigator-menus="vm.menu"
        config-menus="vm.config"
        
        drawer-users="vm.users"
        drawer-background="/background.png">
        
        <div class="fs-display-2 display-block p+">
            <img src="/favicon.png" alt="Logo" height="56px" style="float: left;" />
            <p style="line-height: 56px;">Lumx PP</p>
        </div>
        <div class="p+">
            <lx-button class="mr+" ng-repeat="type in vm.list" lx-type="raised" ng-click="vm.selected = type;">{{type}}</lx-button>
        </div>
    </lx-drawer-layout>

    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script src="./bower_components/jquery.scrollbar/jquery.scrollbar.js"></script>

    <script src="./bower_components/velocity/velocity.js"></script>
    <script src="./bower_components/moment/min/moment-with-locales.js"></script>
    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/lumx/dist/lumx.js"></script>

    <script src="./dist/js/lxpp.min.js"></script>

    <script type="text/javascript">
        (function (angular) {
            'use strict';
            angular.module('app', ['lxpp']);

            angular.module('app').run(appRun);

            appRun.$inject = ['$rootScope', 'LxNotificationService'];

            function appRun($rootScope, LxNotificationService) {
                var menuGroup

                $rootScope.$broadcast('draweruser:changeuser', _onChangeUser);

                $rootScope.vm = {
                    selected: 'full-height',

                    list: [
                        'full-height',
                        'clipped',
                        'floating',
                        'floating-card',
                        'persistent',
                        'mini-variant',
                        'temporary'
                    ],

                    users: [
                        {name: 'Fernando Franco', image: '/photo.jpg', active: true},
                        {name: 'Lumx PP', image: '/favicon.png'}
                    ],

                    menu: [
                        // Grupo 1
                        {
                            items: [
                                {label: 'Without Header', handler: _notification('G1-I1')}
                            ]
                        },
                        // Grupo 2
                        {
                            header: 'Label',
                            items: [
                                {label: 'Label', handler: _notification('G2-I1')}
                            ]
                        },
                        // Grupo 3
                        {
                            header: 'Icon',
                            items: [
                                {label: 'Icon', icon: 'language-html5', handler: _notification('G3-I1')},
                                {label: 'Colored Icon', icon: 'language-html5', iconColor: 'deep-orange', handler: _notification('G3-I2')}
                            ]
                        },
                        // Grupo 4
                        {
                            header: 'Info',
                            items: [
                                {label: 'Info', info: 'language-css3', handler: _notification('G4-I1')},
                                {label: 'Colored Info', info: 'language-css3', infoColor: 'blue', handler: _notification('G4-I2')}
                            ]
                        },
                        // Grupo 5
                        {
                            header: 'Icon & Info',
                            items: [
                                {label: 'Icon & Info', icon: 'language-html5', info: 'language-css3', handler: _notification('G5-I1')},
                                {label: 'Colored Icon & Info', icon: 'language-html5', iconColor: 'deep-orange', info: 'language-css3', handler: _notification('G5-I2')},
                                {label: 'Colored Icon & Colored Info', icon: 'language-html5', iconColor: 'deep-orange', info: 'language-css3', infoColor: 'blue', handler: _notification('G5-I3')}
                            ]
                        }
                    ],

                    config: [
                        {label: 'Settings', icon: 'settings', handler: _notification('Settings')}
                    ],

                    toolbarMenu: [
                        {icon: 'clippy', title: 'Clippy', showAsAction: 'ifRom', handler: _notification('Toolbar Clippy')},
                        {icon: 'android', title: 'Android', showAsAction: 'never', handler: _notification('Toolbar Android')},
                        {icon: 'share-variant', title: '', showAsAction: 'always', handler: _notification('Toolbar Share Variant')}
                    ]
                }

                ////////////////////////////////////////////////////////////////////////////////////////////////////

                function _onChangeUser(userSelected) {
                    LxNotificationService.notify(userSelected.name + ' selected');
                }
                
                function _notification(groupItem) {
                    return function() {
                        LxNotificationService.notify(groupItem + ' clicked');
                        return true; // hideNavigation
                    }
                }
            }
        })(angular);
    </script>
</body>

</html>