.drawernavigator {
    .list-subheader {
        font-weight: bold;
        &:empty {
            display: none;
        }
    }

    .list-row {
        .list-row__primary {
            min-width: 56px;
        }
        .list-row__content {
            display: block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    +.drawernavigator {
        border-top: 1px solid rgba(0, 0, 0, 0.12);
    }
}