@import "../mixins/transaction";

.scroll-wrapper {
    width: 100%;
    height: 100%;

    [lx-scroll] {
        &::-webkit-scrollbar {
            height: 0;
            width: 0;
        }
    }

    &:hover {
        .scroll-y {
            width: 8px !important;
        }
        .scroll-x {
            height: 8px !important;
        }
    }

    .scroll-element.scroll-scrolly_visible {
        z-index: 9999;
        position: absolute;

        &.scroll-y {
            top: 0;
            right: 0;
            width: 0;
            height: 100%;
            @include transaction(all, 50ms, ease-in-out);
        }

        &.scroll-x {
            left: 0;
            bottom: 0;
            height: 0;
            width: 100%;
            @include transaction(all, 50ms, ease-in-out);
        }

        .scroll-element_outer {
            width: 100%;
            height: 100%;
            position: relative;

            .scroll-element_size {
                width: 100%;
                height: 100%;
            }

            .scroll-element_track {
                width: 100%;
                height: 100%;
            }

            .scroll-bar {
                width: 100%;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.22);
            }
        }
    }
}