.toolbar {
  z-index: 100; }

[lx-color="red"].text-field:after {
  background-color: #F44336; }
[lx-color="red"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #F44336; }
[lx-color="red"].text-field.text-field--is-focus .text-field__icon {
  color: #F44336; }

[lx-color="pink"].text-field:after {
  background-color: #E91E63; }
[lx-color="pink"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #E91E63; }
[lx-color="pink"].text-field.text-field--is-focus .text-field__icon {
  color: #E91E63; }

[lx-color="purple"].text-field:after {
  background-color: #9C27B0; }
[lx-color="purple"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #9C27B0; }
[lx-color="purple"].text-field.text-field--is-focus .text-field__icon {
  color: #9C27B0; }

[lx-color="deep-purple"].text-field:after {
  background-color: #673AB7; }
[lx-color="deep-purple"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #673AB7; }
[lx-color="deep-purple"].text-field.text-field--is-focus .text-field__icon {
  color: #673AB7; }

[lx-color="indigo"].text-field:after {
  background-color: #3F51B5; }
[lx-color="indigo"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #3F51B5; }
[lx-color="indigo"].text-field.text-field--is-focus .text-field__icon {
  color: #3F51B5; }

[lx-color="blue"].text-field:after {
  background-color: #2196F3; }
[lx-color="blue"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #2196F3; }
[lx-color="blue"].text-field.text-field--is-focus .text-field__icon {
  color: #2196F3; }

[lx-color="light-blue"].text-field:after {
  background-color: #03A9F4; }
[lx-color="light-blue"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #03A9F4; }
[lx-color="light-blue"].text-field.text-field--is-focus .text-field__icon {
  color: #03A9F4; }

[lx-color="cyan"].text-field:after {
  background-color: #00BCD4; }
[lx-color="cyan"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #00BCD4; }
[lx-color="cyan"].text-field.text-field--is-focus .text-field__icon {
  color: #00BCD4; }

[lx-color="teal"].text-field:after {
  background-color: #009688; }
[lx-color="teal"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #009688; }
[lx-color="teal"].text-field.text-field--is-focus .text-field__icon {
  color: #009688; }

[lx-color="green"].text-field:after {
  background-color: #4CAF50; }
[lx-color="green"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #4CAF50; }
[lx-color="green"].text-field.text-field--is-focus .text-field__icon {
  color: #4CAF50; }

[lx-color="light-green"].text-field:after {
  background-color: #8BC34A; }
[lx-color="light-green"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #8BC34A; }
[lx-color="light-green"].text-field.text-field--is-focus .text-field__icon {
  color: #8BC34A; }

[lx-color="lime"].text-field:after {
  background-color: #CDDC39; }
[lx-color="lime"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #CDDC39; }
[lx-color="lime"].text-field.text-field--is-focus .text-field__icon {
  color: #CDDC39; }

[lx-color="yellow"].text-field:after {
  background-color: #FFEB3B; }
[lx-color="yellow"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #FFEB3B; }
[lx-color="yellow"].text-field.text-field--is-focus .text-field__icon {
  color: #FFEB3B; }

[lx-color="amber"].text-field:after {
  background-color: #FFC107; }
[lx-color="amber"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #FFC107; }
[lx-color="amber"].text-field.text-field--is-focus .text-field__icon {
  color: #FFC107; }

[lx-color="orange"].text-field:after {
  background-color: #FF9800; }
[lx-color="orange"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #FF9800; }
[lx-color="orange"].text-field.text-field--is-focus .text-field__icon {
  color: #FF9800; }

[lx-color="deep-orange"].text-field:after {
  background-color: #FF5722; }
[lx-color="deep-orange"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #FF5722; }
[lx-color="deep-orange"].text-field.text-field--is-focus .text-field__icon {
  color: #FF5722; }

[lx-color="brown"].text-field:after {
  background-color: #795548; }
[lx-color="brown"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #795548; }
[lx-color="brown"].text-field.text-field--is-focus .text-field__icon {
  color: #795548; }

[lx-color="grey"].text-field:after {
  background-color: #9E9E9E; }
[lx-color="grey"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #9E9E9E; }
[lx-color="grey"].text-field.text-field--is-focus .text-field__icon {
  color: #9E9E9E; }

[lx-color="blue-grey"].text-field:after {
  background-color: #607D8B; }
[lx-color="blue-grey"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #607D8B; }
[lx-color="blue-grey"].text-field.text-field--is-focus .text-field__icon {
  color: #607D8B; }

[lx-color="black"].text-field:after {
  background-color: #000000; }
[lx-color="black"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #000000; }
[lx-color="black"].text-field.text-field--is-focus .text-field__icon {
  color: #000000; }

[lx-color="white"].text-field:after {
  background-color: #FFFFFF; }
[lx-color="white"].text-field.text-field--is-focus:not(.text-field--fixed-label) .text-field__label {
  color: #FFFFFF; }
[lx-color="white"].text-field.text-field--is-focus .text-field__icon {
  color: #FFFFFF; }

@media screen and (max-width: 480px) {
  .xxs-hide {
    display: none; } }

@media screen and (max-width: 480px) {
  .xxs-show {
    display: initial; } }

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .xs-hide {
    display: none; } }

@media screen and (min-width: 481px) and (max-width: 1023px) {
  .xs-show {
    display: initial; } }

@media screen and (min-width: 481px) {
  .s-hide {
    display: none; } }

@media screen and (min-width: 481px) {
  .s-show {
    display: initial; } }

@media screen and (max-width: 1023px) {
  .m-hide {
    display: none; } }

@media screen and (max-width: 1023px) {
  .m-show {
    display: initial; } }

@media screen and (min-width: 1024px) {
  .l-hide {
    display: none; } }

@media screen and (min-width: 1024px) {
  .l-show {
    display: initial; } }

@media screen and (min-width: 1280px) {
  .xl-hide {
    display: none; } }

@media screen and (min-width: 1280px) {
  .xl-show {
    display: initial; } }

@media screen and (min-width: 1920px) {
  .xxl-hide {
    display: none; } }

@media screen and (min-width: 1920px) {
  .xxl-show {
    display: initial; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .xxl-hide {
    display: none; } }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .xxl-show {
    display: initial; } }

/*# sourceMappingURL=lxpp.css.map */
