@import "../../../bower_components/lumx/core/scss/settings/_colors";

$light-blue-colors: (
        common: (
                50: (bg: $light-blue-50, tc: $black-1),
                100: (bg: $light-blue-100, tc: $black-1),
                200: (bg: $light-blue-200, tc: $black-1),
                300: (bg: $light-blue-300, tc: $black-1),
                400: (bg: $light-blue-400, tc: $black-1),
                500: (bg: $light-blue-500, tc: $black-1),
                600: (bg: $light-blue-600, tc: $white),
                700: (bg: $light-blue-700, tc: $white-1),
                800: (bg: $light-blue-800, tc: $white-1),
                900: (bg: $light-blue-900, tc: $white-1)
        ),
        accent: (
                100: (bg: $light-blue-A100, tc: $black-1),
                200: (bg: $light-blue-A200, tc: $black-1),
                400: (bg: $light-blue-A400, tc: $black-1),
                700: (bg: $light-blue-A700, tc: $white)
        )
);