@import "../settings/colors/_colors";

.text-field {
  &[lx-error] + * {
    margin-top: 18px;
  }
  &[lx-error] + .text-field-error {
    margin-top: 0;
  }
  &.text-field--error {
    &:after {
      background-color: $red-500 !important;
    }
  }
  &.text-field--valid {
    &:after {
      background-color: $green-500 !important;
    }
  }
}

@mixin text-field-colored($name, $color) {
  [lx-color="#{$name}"] {
    &.text-field {
      &:after {
        background-color: $color;
      }
      &.text-field--is-focus {
        &:not(.text-field--fixed-label) {
          .text-field__label {
            color: $color;
          }
        }
        .text-field__icon {
          color: $color;
        }
      }
    }
  }
}

@each $name, $object in $all-colors {
  @include text-field-colored($name, getBackgroundColor($name, 500, common));
}

@each $name, $object in $mono-colors {
  @include text-field-colored($name, getBackgroundColor($name, 0));
}
